* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

ul {
  list-style-type: none;
}

header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 75px;
}

main, .controls, .error {
  margin-left: 100px;
}

.controls {
  margin-bottom: 50px;
}

.error {
  color: red;
}
li {
  margin-bottom: 30px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
}

.drop-btn {
  width: 100%;
}

.dropdown:hover .dropdown-menu, input[type="radio"] {
  display: block;
}

