* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 75px;
}

main, header {
  max-width: 1000px;
}

.error {
  margin-left: 100px;
}

.controls {
  margin-bottom: 50px;
}

.error {
  color: darkred;
  font-weight: bold;
}

li {
  margin-bottom: 30px;
}

#min-or-add {
  text-align: center;
}

.dropdown {
  display: inline-block;
  position: relative;
  margin-right: 30px;
}

.dropdown-menu {
  display: none;
  position: absolute;
}

.drop-btn {
  width: 100%;
}

.drop-btn:hover {
  background-color: yellowgreen;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

input[type="radio"] {
  display: inline-block;
  margin-left: 50px;
}

input[type="submit"] {
  background-color: orange;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: brown;
}

input[type="text"] {
  border-radius: 5px;
}

input[type="text"]:focus {
  box-shadow: 0 0 0 4px brown;
  outline: none;
}

button {
  background-color: lightseagreen;
  border-radius: 5px;
  margin-right: 5px;
  min-width: 100px;
}

button:hover, button:focus {
  background-color: yellowgreen;
}

.close-button, .delete-button {
  background-color: rgb(224, 22, 22);
  font-size: 0.8em;
  margin-right: 15px;
  min-width: 25px;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
  text-decoration: underline;
}

label {
  white-space: nowrap;
}

.sub-or-cancel {
  text-align: center;
}